<div class="main">

    <section class="hero">
        <h1>Empowering Citizens, Enhancing Governance.</h1>

        <p>Welcome to CitizenConnect360, where your voice matters, Engage in decision making, report incidents, and stay
            educated about government documents. </p>
    </section>

    <section class="features">

        <div class="main">
            <div class="feature-item chatai">
                <div class="description">
                    <h2>NUMBER OF USERS</h2>
                    <p>20</p>
                </div>
            </div>

            <div class="feature-item incidents">
                <div class="description">
                    <h3>INCIDENTS REPORTED </h3>
                    <p>20</p>
                </div>
            </div>

            <div class="feature-item views">
                <div class="description">
                    <h4>NUMBER OF VOTES </h4>
                    <p>20</p>
                </div>
            </div>
        </div>

    </section>


    <footer class="footer"
        style="background-image: url('footer.jpg'); background-size: cover; background-position: center;">

        <p>&copy; 2024 CitizenConnect360. All rights reserved.</p>

        <div class="social-links">
            <a href="https://instagram.com" target="_blank">
                <img src="instagram.svg" alt="" class="styled-image">
            </a>
            <a href="https://twitter.com" target="_blank">
                <img src="twitter.svg" alt="" class="styled-image">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="facebook.svg" alt="" class="styled-image">
            </a>
            <a href="https://threads.com" target="_blank">
                <img src="threads.svg" alt="" class="styled-image">
            </a>
        </div>
    </footer>


</div>