<section class="hero">
    <h1>Empowering Citizens, Enhancing Governance.</h1>
    <p>Welcome to CitizenConnect360, where your voice matters. Engage in decision making, report incidents, and stay
        educated about government documents.</p>
</section>

<div class="chat-container">
    <div class="message-container">

        <div class="message sent">
            <img src="avatar.svg" alt="Avatar" class="avatar">
            <div class="message-content">
                <p>Hey! How are you?</p>
                <span class="time">11:01</span>
            </div>
        </div>

        <div class="message received">
            <img src="chatbot.jpg" alt="ChatBot" class="avatar">
            <div class="message-content">
                <p>Heello! I am fine. How can i be of help today? </p>
                <span class="time">11:02</span>
            </div>
        </div>

        <div class="message sent">
            <img src="avatar.svg" alt="Avatar" class="avatar">
            <div class="message-content">
                <p>Can you summarize the government finance bill</p>
                <span class="time">11:05</span>
            </div>
        </div>

        <div class="message received">
            <img src="chatbot.jpg" alt="ChatBot" class="avatar">
            <div class="message-content">
                <p>Sure.!  The Kenyan Finance Bill 2024 sparked significant uproar due to its controversial provisions, including tax hikes on essential goods and services, such as fuel and basic commodities. Critics argue that these measures disproportionately affect low-income households and small businesses, exacerbating economic hardships amidst already challenging conditions. The bill also faced scrutiny for its potential impact on inflation and overall cost of living, prompting widespread public debate and calls for revisions to mitigate adverse effects on vulnerable segments of society. </p>
                <span class="time">11:02</span>
            </div>
        </div>

        <div class="chat-input">
            <input type="text" placeholder="Type a message...">
            <div>
                <img src="send.png" alt="Send" class="send-icon">
            </div>
        </div>
    </div>
</div>